# name: Build and deploy to GKE/EKS
name: Push to Dockerhub

on:
  push:
    branches:
      - main

# env:
#   DOCKER_IMAGE: web-app
#   K8S_NAMESPACE: web-app-prd
#   K8S_DEPLOYMENT: web-app
#   AWS_REGION: us-east-1
#   EKS_CLUSTER_NAME: craftech-academy

env:
  GKE_PROJECT: $${{ secrets.GKE_PROJECT }}
  GKE_CLUSTER: prod-cluster
  GKE_ZONE: us-central1-a
  DEPLOYMENT_NAME: web-app
  IMAGE: web-app

jobs:
  push-to-registry-and-deploy:
    name: Push Docker image to Dockerhub
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v2

      - name: Push to Dockerhub
        uses: docker/build-push-action@v1
        with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
            repository: mistagreen/curso-devops-craftech
            tag_with_ref: true
            tag_with_sha: true
            tags: latest, ${{ github.sha }}

      - name: Setup gcloud CLI
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          service_account_key: ${{ secrets.GKE_SA_KEY }}
          project_id: ${{ secrets.GKE_PROJECT }}

      # - name: Set up Kustomize
      #   run: |
      #     curl -o kustomize --location https://github.com/kubernetes-sigs/kustomize/releases/download/v3.1.0/kustomize_3.1.0_linux_amd64
      #     chmod u+x ./kustomize

      - name: Deploy
        run: |-
          gcloud container clusters get-credentials $GKE_CLUSTER --zone $GKE_ZONE --project curso-devops-craftech
          kubectl set image deployment $DEPLOYMENT_NAME $IMAGE=mistagreen/curso-devops-craftech:latest
          kubectl rollout status deployment/$DEPLOYMENT_NAME

      #   uses: cancue/eks-action@v0.0.2
      #   env:
      #     aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #     aws_region: $AWS_REGION
      #     cluster_name: $EKS_CLUSTER_NAME
      #   with:
      #     args: |
      #       kubectl set image deployment $K8S_DEPLOYMENT -n $K8S_NAMESPACE
      #       web-app=mistagreen/curso-devops-craftech &&
      #       kubectl rollout status deployment/$K8S_DEPLOYMENT -n $K8S_NAMESPACE
