# name: Build and deploy to GKE/EKS
name: Push to Dockerhub

on:
  push:
    branches:
      - main

# env:
#   DOCKER_IMAGE: web-app
#   K8S_NAMESPACE: web-app-prd
#   K8S_DEPLOYMENT: web-app
#   AWS_REGION: us-east-1
#   EKS_CLUSTER_NAME: craftech-academy

jobs:
  push_to_registry:
    name: Push Docker image to Dockerhub
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v2

      - name: Push to Dockerhub
        uses: docker/build-push-action@v1
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
            repository: mistagreen/curso-devops-craftech
            tag_with_ref: true
            tag_with_sha: true
            tags: latest, ${{ github.sha }}

      # - name: Deploy
      #   uses: cancue/eks-action@v0.0.2
      #   env:
      #     aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #     aws_region: $AWS_REGION
      #     cluster_name: $EKS_CLUSTER_NAME
      #   with:
      #     args: |
      #       kubectl set image deployment $K8S_DEPLOYMENT -n $K8S_NAMESPACE
      #       web-app=mistagreen/curso-devops-craftech &&
      #       kubectl rollout status deployment/$K8S_DEPLOYMENT -n $K8S_NAMESPACE
