# # name: Build and deploy to GKE/EKS
# name: Push to Dockerhub
#
# on:
#   push:
#     branches:
#       - main
#
# # env:
# #   DOCKER_IMAGE: web-app
# #   K8S_NAMESPACE: web-app-prd
# #   K8S_DEPLOYMENT: web-app
# #   AWS_REGION: us-east-1
# #   EKS_CLUSTER_NAME: craftech-academy
#
# env:
#   GKE_PROJECT: ${{ secrets.GKE_PROJECT }}
#   GKE_CLUSTER: prod-cluster
#   GKE_ZONE: us-central1-a
#   DEPLOYMENT_NAME: web-app
#   IMAGE: curso
#
# jobs:
#   push-to-registry-and-deploy:
#     name: Push Docker image to Dockerhub
#     runs-on: ubuntu-latest
#
#     steps:
#       - name: Check out repo
#         uses: actions/checkout@v2
#
#       # - name: Push to Dockerhub
#       #   uses: docker/build-push-action@v1
#       #   with:
#       #       username: ${{ secrets.DOCKER_USERNAME }}
#       #       password: ${{ secrets.DOCKER_PASSWORD }}
#       #       repository: mistagreen/curso-devops-craftech
#       #       tag_with_ref: true
#       #       tag_with_sha: true
#       #       tags: latest, ${{ github.sha }}
#
#       - name: Setup gcloud CLI
#         uses: google-github-actions/setup-gcloud@v0.2.0
#         with:
#           service_account_key: ${{ secrets.GKE_SA_KEY }}
#           project_id: ${{ secrets.GKE_PROJECT }}
#
#       # - name: Set up Kustomize
#       #   run: |
#       #     curl -o kustomize --location https://github.com/kubernetes-sigs/kustomize/releases/download/v3.1.0/kustomize_3.1.0_linux_amd64
#       #     chmod u+x ./kustomize
#
#       - name: Deploy
#         run: |-
#           gcloud container clusters get-credentials $GKE_CLUSTER --zone $GKE_ZONE --project curso-devops-craftech
#           kubectl set image gcr.io/curso-devops-craftech/curso:latest
#           kubectl rollout status deployment/$DEPLOYMENT_NAME
#
#       #   uses: cancue/eks-action@v0.0.2
#       #   env:
#       #     aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#       #     aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#       #     aws_region: $AWS_REGION
#       #     cluster_name: $EKS_CLUSTER_NAME
#       #   with:
#       #     args: |
#       #       kubectl set image deployment $K8S_DEPLOYMENT -n $K8S_NAMESPACE
#       #       web-app=mistagreen/curso-devops-craftech &&
#       #       kubectl rollout status deployment/$K8S_DEPLOYMENT -n $K8S_NAMESPACE

name: Build and Deploy to GKE

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_CLUSTER: prod-cluster    # Add your cluster name here.
  GKE_ZONE: us-central1-a   # Add your cluster zone here.
  DEPLOYMENT_NAME: web-app # Add your deployment name here.
  IMAGE: curso

jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v2

    # Setup gcloud CLI
    - uses: google-github-actions/setup-gcloud@v0.2.0
      with:
        service_account_key: ${{ secrets.GKE_SA_KEY }}
        project_id: ${{ secrets.GKE_PROJECT }}

    # Configure docker to use the gcloud command-line tool as a credential helper
    - run: |-
        gcloud --quiet auth configure-docker

    # Get the GKE credentials so we can deploy to the cluster
    - uses: google-github-actions/get-gke-credentials@v0.2.1
      with:
        cluster_name: ${{ env.GKE_CLUSTER }}
        location: ${{ env.GKE_ZONE }}
        credentials: ${{ secrets.GKE_SA_KEY }}

    # Build the Docker image
    - name: Build
      run: |-
        docker build \
          --tag "gcr.io/$PROJECT_ID/$IMAGE:$GITHUB_SHA" \
          --build-arg GITHUB_SHA="$GITHUB_SHA" \
          --build-arg GITHUB_REF="$GITHUB_REF" \
          .

    # Push the Docker image to Google Container Registry
    - name: Publish
      run: |-
        docker push "gcr.io/$PROJECT_ID/$IMAGE:$GITHUB_SHA"

    # Set up kustomize
    - name: Set up Kustomize
      run: |-
        curl -sfLo kustomize https://github.com/kubernetes-sigs/kustomize/releases/download/v3.1.0/kustomize_3.1.0_linux_amd64
        chmod u+x ./kustomize

    # Deploy the Docker image to the GKE cluster
    - name: Deploy
      run: |-
        ./kustomize edit set image gcr.io/PROJECT_ID/IMAGE:TAG=gcr.io/$PROJECT_ID/$IMAGE:$GITHUB_SHA
        ./kustomize build . | kubectl apply -f -
        kubectl rollout status deployment/$DEPLOYMENT_NAME
        kubectl get services -o wide
